<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729881902280-9agd2o3jhfu5hge7d2msu79da7t4jidr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729881902280-9agd2o3jhfu5hge7d2msu79da7t4jidr</string>
	<key>API_KEY</key>
	<string>AIzaSyC4qst9cKGu2f1zWeKGPj0Uh_QFPRl1eJg</string>
	<key>GCM_SENDER_ID</key>
	<string>729881902280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.au10tix.au10tixClasses</string>
	<key>PROJECT_ID</key>
	<string>au10tix-classes</string>
	<key>STORAGE_BUCKET</key>
	<string>au10tix-classes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729881902280:ios:115e5f9f4dcdc0cce779fd</string>
</dict>
</plist>